.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Общие стили для шрифтов */
body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #333333;
}

/* Заголовки index */
.reasons-title {
    line-height: 26px;
}

.reasons-big-title {
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
}

.reasons-small-title {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.reasons-features-title {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

/* Заголовки hotels */
.hotel-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}