/* ----- Общие стили для элементов ----- */
body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #333333;
    text-transform: uppercase;
    
    background-color: #f1f1f1;
    
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ----- Главная страница ----- */

.site-wrapper {
    -webkit-box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
            box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
    
    width: 1200px;
    padding: 0;
    margin: 0 auto;
}

.main-header {
    background-color: #ffffff;
    
    padding-left: 72px;
    padding-right: 72px;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -69px;
}

.main-navigation-nav {
    list-style: none;
    
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.main-navigation-nav li {
    width: 240px;
    padding-top: 14px;
    padding-bottom: 16px;
}

.main-navigation-nav li:nth-child(4n+1),
.main-navigation-nav li:nth-child(4n+2){
    text-align: left;
}

.main-navigation-nav li:nth-child(4n+3),
.main-navigation-nav li:nth-child(4n+4){
    text-align: right;
}

.main-navigation-nav li:nth-child(4n+3) {
    margin-left: auto;
}

/* Для pixel-perfect */
.main-navigation-nav li:nth-child(3) {
    letter-spacing: 0.5px;
}

.main-navigation-nav a {
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.main-navigation-nav a:hover,
.main-navigation-nav a:focus {
    color: #81b3d2;
}

.main-navigation-nav a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation-nav a.main-navigation-nav-current {
    color: #766357;
}

.main-container {
    background-color: #ffffff;
}

.intro {
    text-align: center;
    
    background-image: 
        url('../img/back-shape.png'),
        url('../img/background.jpg');
    background-repeat: 
        no-repeat;
    background-position: 
        bottom center,
        top center;
    background-color: #314750;
    background-size: contain, cover;    
    
    height: 509px;
}

.intro img {
    margin-top: 77px;
}

.reasons-header-container {
    width: 576px;
    margin: 0 auto;
}

.reasons-summary {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    
    margin-top: 59px;
    margin-bottom: 26px;
}

.reasons-title {
    font: inherit;
    line-height: 26px;
    text-align: center;
    
    margin: 0 0 51px 0;
}

.reasons-big {
    background-color: #81b3d1;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
}

.reasons-big-txt-container {
    text-align: center;
    
    width: 400px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 46px;
    padding-right: 46px;
    padding-top: 48px;
}

.reasons-big-title {
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    
    margin: 0;
    padding-left: 75px;
    padding-right: 75px;
}

.reasons-big-txt-container p {
    color: #ffffff;
    
    margin: 0;
    padding: 0;
}

p.reasons-number {
    margin-top: 25px;
    margin-bottom: 21px;
}

.reasons-big-img-container {
    width: 800px;
    height: 256px;
    padding: 0;
    margin: 0;
}

.reasons-features-list {
    text-align: center;
    list-style: none;
    
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.reasons-features-list li {
    width: 400px;
    position: relative;  
    -webkit-box-sizing: border-box;  
            box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
}

.reasons-features-list li::before {
    content: "";
    
    background-repeat: no-repeat;
    background-position: center;
    
    position: absolute;
    top: 61px;
    left: 50%;
    height: 72px;
    width: 74px;
    margin-left: -37px;
}

.reasons-features-list li:nth-child(1)::before {
    background-image: url('../img/icon-1.svg');
}

.reasons-features-list li:nth-child(2)::before {
    background-image: url('../img/icon-3.svg');
    
    margin-left: -41px;
}

.reasons-features-list li:nth-child(3)::before {
    background-image: url('../img/icon-2.svg');
    
    height: 76px;
    top: 57px;
}

.reasons-features-title {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    
    margin-top: 163px;
    margin-bottom: 24px;
}

.reasons-features-list p {
    margin-bottom: 80px;
}

.reasons-small {
    background-color: #eeeeee;
    text-align: center;
    
    height: 256px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.reasons-small-container {
    width: 400px;
    padding-left: 60px;
    padding-right: 60px;
}

.reasons-small-title {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    
    margin: 50px 0 0 0;
    padding-left: 80px;
    padding-right: 80px;
}

.booking {
    text-align: center;
    
    position: relative; 
}

.booking b {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    color: #000000;
    vertical-align: baseline;
    
    display: inline-block;
    margin-top: 52px;
}

.booking-summary {
    line-height: 24px;
    
    margin: 22px 0 48px 0;
}

.booking-btn {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
    
    background-color: #756357;
    
    display: inline-block;
    vertical-align: baseline;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 568px;
}

.booking-btn:hover,
.booking-btn:focus {
    background-color: #604e43;
}

.booking-btn:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #503d32;
}

.booking-search-frm {
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    
    background-color: #ffffff;
    -webkit-box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
            box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
    
    position: absolute;
    z-index: 4;
    top: 100%;
    left: 316px;
    width: 568px;
    display: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 55px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.booking-search-frm-container {
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.booking-search-frm-container:nth-child(3) {
    width: 226px;
}

.booking-search-frm-container:nth-child(4) {
    width: 180px;
}

.booking-search-frm-container:last-child {
    margin-bottom: 0;
    margin-top: 25px;
}

.booking-search-frm input {
    font: inherit;
    text-transform: uppercase;
    
    background-color: #f1f1f1;
    border: 2px solid #f1f1f1;
}

.booking-search-frm input[type=number]::-webkit-inner-spin-button, 
.booking-search-frm input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.booking-search-frm input[type=number] {
    -moz-appearance: textfield;
}

.booking-search-frm-input-wrapper {
    width: 346px;
    position: relative;
}

.booking-search-frm-input-wrapper input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 38px;
    padding-left: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 35px;
}

.booking-search-frm-input-wrapper input::-ms-clear {
    display: none;
}

.booking-search-frm-input-wrapper input:hover {
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
}

.booking-search-frm-input-wrapper input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    outline: none;
}

.booking-search-frm-calendar {
    position: absolute;
    top: 8px;
    right: 9px;
}

/* Для IE */

.booking-search-frm-calendar::before {
    content: "";
    
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.booking-search-frm-calendar path {
    fill: #cacaca;
}

.booking-search-frm-calendar:hover path,
.booking-search-frm-calendar:focus path {
    fill: #000000;
}

.booking-search-frm-calendar:active path {
    fill: #81b3d2;
}

.booking-search-frm-number-wrapper {
    width: 114px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.booking-search-frm button {
    font: inherit;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #a9a9a9;
    
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
}

.booking-search-frm button:hover,
.booking-search-frm button:focus {
    color: #000000;
}

.booking-search-frm button:active {
    color: #81b3d2;
}

.booking-search-frm-plus-btn,
.booking-search-frm-minus-btn,
.booking-search-frm-number-wrapper input {
    text-align: center;
    
    width: 38px;
    height: 38px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.booking-search-frm .booking-search-frm-btn {
    font-size: 21px;
    color: #ffffff;
    vertical-align: baseline;
    
    background-color: #81b3d1;
    
    display: inline-block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.booking-search-frm .booking-search-frm-btn:hover,
.booking-search-frm .booking-search-frm-btn:focus {
    color: #ffffff;
    
    background-color: #669dc0;
}

.booking-search-frm .booking-search-frm-btn:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #5495bd;
}

@-webkit-keyframes show {
    0% {
        -webkit-transform: translateY(2000px);
                transform: translateY(2000px);
    }

    70% {
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
    }

    90% {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes show {
    0% {
        -webkit-transform: translateY(2000px);
                transform: translateY(2000px);
    }

    70% {
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
    }

    90% {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}

@keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}

.form-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-animation: show 0.6s;
            animation: show 0.6s;    
}

.form-error {
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s;
}

.booking-map {
    height: 473px;
    position: relative;
}

.booking-map img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.booking-map iframe {
    border: none;
    
    position: relative;
    z-index: 2;
}

.main-footer {
    background-color: rgba(253, 253, 253, 0.9);
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    position: relative;
    z-index: 3;
}

.main-footer > div {
    width: 400px;
}

.footer-tag {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    
    margin-top: 47px;
    margin-bottom: 47px;
}

.footer-tag p {
    margin: 0;
}

.footer-social {
    text-align: center;
    
    margin-top: 36px;
}

.footer-social-list {
    list-style: none;
    
    padding: 0;    
    width: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
}

.footer-social-button {
    color: #ffffff;
    
    background-color: #81b3d1;
    
    width: 46px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}

/* Для IE */

.footer-social-button::before {
    content: "";
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer-social-button:hover,
.footer-social-button:focus {
    background-color: #669dc0;
}

.footer-social-button:active {
    background-color: #5495bd;
}

.footer-social-button:active svg {
    opacity: 0.3;
}

.footer-copyright {
    margin-top: 40px;
}

.footer-copyright-link {
    line-height: 26px;
    color: #000000;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}

/* Для IE */

.footer-copyright-link::before {
    content: "";
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer-copyright-link:hover path,
.footer-copyright-link:focus path {
    fill: #81b3d2;
}

.footer-copyright-link:active path{
    fill: #bdbbbc;
}

.footer-copyright-link span:nth-child(1) {
    margin-right: 8px;
}

/* ----- Внутренняя страница ----- */

.inner-page .main-container {
    background-color: #fefefe;
}

.inner-page .main-footer {
    background-color: rgba(254, 254, 254, 0.9);
}

.hotels-search {
    color: #ffffff;
    
    background-image: url('../img/filter-back.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #617584;
}

.hotels-search-frm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 72px;
    padding-right: 72px;
}

.hotels-search-frm > div {
    margin-top: 27px;
    margin-bottom: 33px;
}

.hotels-search-frm-structure {
    width: 150px;
    margin-right: 104px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.hotels-search-frm-hotel-type {
    width: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.hotels-search-frm-structure-title {
    font-weight: bold;
    font-size: 16px;
}

.hotels-search-frm-hotel-type-title {
    font-weight: bold;
    font-size: 16px;
}

.hotels-search-frm-structure label,
.hotels-search-frm-hotel-type label {
    cursor: pointer;
    
    width: 100%;
    margin-top: 25px;
    padding-left: 40px;
    position: relative;
}

.hotels-search-frm-hotel-type label {
    padding-left: 41px;
}

.hotels-search-frm input[type="checkbox"] + .checkbox-indicator {
    background-image: url('../img/checkbox-off.svg');
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;
}

.hotels-search-frm input[type="checkbox"]:disabled + .checkbox-indicator {
    background-image: url('../img/checkbox-off-disabled.svg');
    background-repeat: no-repeat;
}

.hotels-search-frm input[type="checkbox"]:focus + .checkbox-indicator {
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.hotels-search-frm input[type="checkbox"]:checked + .checkbox-indicator {
    background-image: url('../img/checkbox-on.svg');
    background-repeat: no-repeat;
    
    width: 27px;
}

.hotels-search-frm input[type="checkbox"]:checked:disabled + .checkbox-indicator {
    background-image: url('../img/checkbox-on-disabled.svg');
    background-repeat: no-repeat;
    
    width: 27px;
}

.hotels-search-frm-price {
    width: 318px;
    margin-left: auto;
}

.filter-range {
    color: #ffffff;
    text-transform: uppercase;
    
    width: 330px;
}

.hotels-search-frm-price-title {
    font-weight: bold;
    font-size: 16px;
    
    margin-bottom: 9px;
}

.price-controls {
    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
    
    position: relative;
    height: 34px;
    margin-bottom: 20px;
}

.price-controls::after {
    content: "";
    
    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
}

.price-controls label {
    font-size: 14px;
    line-height: 34px;
    vertical-align: middle;
    
    cursor: pointer;
    
    display: inline-block;
}

.price-controls .min-price {
    width: 90px;
    padding-left: 65px;
}

.price-controls .max-price {
    padding-left: 55px;
}

.price-controls input {
    color: inherit;
    font: inherit;

    background: none;
    border: none;
    
    width: 50px;
    margin: 0;
    height: 34px;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    background: rgba(255, 255, 255, 0.3);
    
    height: 2px;    
}

.range-controls .bar {
    background-color: #ffffff;
    
    width: 80%;
    height: 2px;
}

.range-toggle {
    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
    
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;
}

.range-toggle:hover {
    background-color: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.hotels-search-frm-btn {
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
    
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: 85px;
    width: 139px;
    padding: 6px 35px;
}

.hotels-search-frm-btn:hover,
.hotels-search-frm-btn:focus {
    color: #000000;

    background-color: #ffffff;
}

.hotels-sort,
.hotels-result-hotel {
    border-bottom: 1px solid #e5e5e5;
}

.hotels-sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 86px;
    padding-left: 72px;
    padding-right: 72px;
}

.hotels-sort-count {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    
    width: 135px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hotels-sort-container {
    font-size: 12px;
    line-height: 18px;
    
    width: 353px;
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.hotels-sort-title {
    color: #000000;
}

.hotels-sort-type {
    list-style: none;
    
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.hotels-sort-type li {
    margin-left: 34px;
}

.hotels-sort-type a {
    color: rgba(0, 0, 0, 0.3);
    
    border-bottom: 1px dotted #81b3d1;
}

.hotels-sort-type a:hover,
.hotels-sort-type a:focus {
    color: #81b3d2;
}

.hotels-sort-type a:active {
    color: #000000;
    
    border-bottom: none;    
}

.hotels-sort-type a.hotels-sort-type-active {
    color: #81b3d2;
    
    border-bottom: none;
}

.hotels-sort-direction {
    width: 35px;
    margin-left: auto;
    margin-top: 35px;
}

.hotels-sort-direction-list {
    list-style: none;
    
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

/* Для IE */

.hotels-sort-direction-link {
    position: relative;
}

.hotels-sort-direction-link::before {
    content: "";
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hotels-sort-direction-link path {
    fill: #cacaca;
}

.hotels-sort-direction-link:hover path,
.hotels-sort-direction-link:focus path {
    fill: #000000;
}

.hotels-sort-direction-link:active path {
    fill: #81b3d2;
}

.hotels-sort-direction-active path {
    fill: #81b3d2;
}

.hotels-sort-direction-active:hover path,
.hotels-sort-direction-active:focus path {
    fill: #81b3d2;
}

.hotels-sort-direction-active:active path {
    fill: #81b3d2;
}

.hotels-result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.hotels-result-hotel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 72px;
    padding-right: 72px;
}

.hotel-img-container {
    width: 135px;
    height: 90px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hotel-info {
    margin-top: 24px;
    margin-bottom: 30px;
    width: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.hotel-title {
    margin: 0;
    margin-bottom: -6px;
}

.hotel-title a {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.hotel-title a:hover,
.hotel-title a:focus {
    color: #81b3d2;
}

.hotel-title a:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotel-info p {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hotel-type {
    width: 111px;
    margin-right: 6px;
}

.hotel-price {
    width: 143px;
}

.hotel-more-btn {
    font-weight:  bold;
    color: #ffffff;
    text-align: center;
    
    background-color: #81b3d2;
    
    width: 111px;
    margin-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.hotel-more-btn:hover,
.hotel-more-btn:focus {
    background-color: #669ec0;
}

.hotel-more-btn:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #5496bd;
}

.hotel-booking-btn {
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    
    background-color: #766357;
    
    width: 143px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.hotel-booking-btn:hover,
.hotel-booking-btn:focus {
    background-color: #604e43;
}

.hotel-booking-btn:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #503e33;
}

.hotel-rate {
    text-align: right;
    
    width: 110px;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.star {
    vertical-align: baseline;
    
    background-image: url('../img/star.svg');
    
    width: 18px;
    height: 17px;
    display: inline-block;
    margin-left: 2px;
}

.hotel-rate-user {
    color: #666666;
    text-align: center;
    
    background-color: #f2f2f2;
    
    width: 110px;
    padding-top: 3px;
    padding-bottom: 3px;
}